<mat-toolbar class="toolbar" fxLayout="row wrap" fxLayoutAlign="space-around center">
  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
    <div class="conc" fxFlex="44" fxLayout="row" fxLayoutAlign="start center">
      <a>concentric</a>
    </div>
    <div class="nav" fxFlex="56" fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-button class="home1">home</button>
      <button mat-button>dropdown</button>
      <button mat-button>right Sidebar</button>
      <button mat-button>left Sidebar</button>
      <button mat-button>two Sidebar</button>
      <button mat-button>no Sidebar</button>

    </div>
  </div>
</mat-toolbar>
<div class="banner">

  <div class="content" fxLayout="column" fxLayoutAlign="space-evenly center">

    <h2>
      But the big time
    </h2>

    <p> Now targeted miin anteivamus photography lorem ipsum pain. </p>

    <button mat-button class="lear"> Learn More </button>

  </div>

</div>
<div class="middle">
  <div class="very" fxLayout="column" fxLayoutAlign="center center">
    <h2>
      Very eu lorem
    </h2>
    <p>Soccer sometimes soft sapien. But the laughter. Phasellus lacinia, a loud crash from ullaco riper nisl lacus,
    </p>
    <p>suscipit bibendum lectus arcu, vitae facilisis libero the project, from the pure. But even stress. Magna pede gas
    </p>
    <p>customer.</p>
  </div>
</div>
<div class="third">
  <span class="icon fa-flag"></span>
</div>




<router-outlet></router-outlet>