<mat-toolbar class="toolbar">

  <div class="conc" fxFlex="44" fxLayout="row" fxLayoutAlign="start center">
    <a>concentric</a>
  </div>
  <div class="nav" fxFlex="56" fxLayout="row" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50">
    <button mat-button class="home1">home</button>
    <button mat-button class="home2">dropdown</button>
    <button mat-button class="home2">right Sidebar</button>
    <button mat-button class="home2">left Sidebar</button>
    <button mat-button class="home2">two Sidebar</button>
    <button mat-button class="home2">no Sidebar</button>
  </div>
</mat-toolbar>
<div class="banner">
 <div fxFlex="100" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxLayout="column"
    fxLayoutAlign="space-evenly center"  class="content" >
    <h2>
      But the big time
    </h2>
    <p Align="center"> Now targeted miin anteivamus photography lorem ipsum pain. </p>
    <button mat-button class="lear"> Learn More </button>
  </div>
</div>

<div class="middle">
  <div fxFlex="100" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxLayout="column"
    fxLayoutAlign="center center"  class="very" Align="center">
    <h2>
      Very eu lorem
    </h2>
    <p>Soccer sometimes soft sapien. But the laughter. Phasellus lacinia, a loud crash from ullaco riper nisl lacus,
    </p>
    <p>suscipit bibendum lectus arcu, vitae facilisis libero the project, from the pure. But even stress. Magna pede gas
    </p>
    <p>customer.</p>
  </div>
</div>


<div class="green" >
  <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" class="third">
    <div fxFlex="25" fxFlex.xs="50" fxFlex.sm="50" fxFlex.md="25" fxLayout="column" fxLayoutAlign="center center"
      class="flag">

      <div class="bord1">
        <i class="fa fa-flag" style="font-size:40px;color:#87BD94"></i></div>
           <h2>Lorem Ipsum</h2>
      <p>present dapibus,neque id</p>
      <p>cursus faucibus,tortor neque</p>
      <p>egestas augue vulputate</p>
    </div>

    <div fxFlex="25" fxFlex.xs="50" fxFlex.sm="50" fxFlex.md="25" fxLayout="column"
      fxLayoutAlign="center center" class="person">
      <div class="bord1">
        <i class="fa fa-user" style="font-size:40px;color:#87BD94"></i></div>
      
      <h2>Some tincidu</h2>
      <p>present dapibus,neque id</p>
      <p>cursus faucibus,tortor neque</p>
      <p>egestas augue vulputate</p>
    </div>

    <div fxFlex="25" fxFlex.xs="50" fxFlex.sm="50" fxFlex.md="25" fxLayout="column"
      fxLayoutAlign="center center" class="file">
      <div class="bord1">
        <i class="fa fa-inbox" style="font-size:40px;color:#87BD94"></i></div>
      
      <h2>felis</h2>
      <p>present dapibus,neque id</p>
      <p>cursus faucibus,tortor neque</p>
      <p>egestas augue vulputate</p>
    </div>

    <div fxFlex="25" fxFlex.xs="50" fxFlex.sm="50" fxFlex.md="25" fxLayout="column"
      fxLayoutAlign="center center"  class="football">
      <div class="bord1">
        <i class="fa fa-road" style="font-size:40px;color:#87BD94"></i></div>
      
      <h2>tomorrow football</h2>
      <p>present dapibus,neque id</p>
      <p>cursus faucibus,tortor neque</p>
      <p>egestas augue vulputate</p>
    </div>

  </div>

  <div   fxLayout="row wrap" fxLayoutAlign="space-evenly center" class="tag1">
    <div fxFlex="25" fxFlex.xs="50" fxFlex.sm="50" fxFlex.md="25" fxLayout="column"
      fxLayoutAlign="center center" class="tag">
      <div class="bord1">
        <i class="fa fa-tag" style="font-size:40px;color:#87BD94"></i></div>
    
      <h2>Lorem Ipsum</h2>
      <p>present dapibus,neque id</p>
      <p>cursus faucibus,tortor neque</p>
      <p>egestas augue vulputate</p>
    </div>
    <div fxFlex="25" fxFlex.xs="50" fxFlex.sm="50" fxFlex.md="25" fxLayout="column"
      fxLayoutAlign="center center" class="cloud">
      <div class="bord1">
        <i class="fa fa-cloud" style="font-size:40px;color:#87BD94"></i></div>
    
      <h2>Lorem Ipsum</h2>
      <p>present dapibus,neque id</p>
      <p>cursus faucibus,tortor neque</p>
      <p>egestas augue vulputate</p>
    </div>
    <div fxFlex="25" fxFlex.xs="50" fxFlex.sm="50" fxFlex.md="25" fxLayout="column"
      fxLayoutAlign="center center" class="bell">
      <div class="bord1">
        <i class="fa fa-bell" style="font-size:40px;color:#87BD94"></i></div>
    
      <h2>Lorem Ipsum</h2>
      <p>present dapibus,neque id</p>
      <p>cursus faucibus,tortor neque</p>
      <p>egestas augue vulputate</p>
    </div>
    <div fxFlex="25" fxFlex.xs="50" fxFlex.sm="50" fxFlex.md="25" fxLayout="column"
      fxLayoutAlign="center center" class="horn">
      <div class="bord1">
        <i class="fa fa-bullhorn" style="font-size:40px;color:#87BD94"></i></div>
  
      <h2>Lorem Ipsum</h2>
      <p>present dapibus,neque id</p>
      <p>cursus faucibus,tortor neque</p>
      <p>egestas augue vulputate</p>
    </div>
  </div>
  <div class="excel" Align="center">
    <button mat-button class="exce">But an excellent opportunity to have some</button>
  </div>
</div>



<div fxLayout='column' fxLayoutAlign="space-evenly center" class="graay">
  <h1>Jonece any pain Duiar</h1>
  <hr width="80%">
  <div fxFlex="100" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="20" fxLayout='row wrap' Align="center"
    fxLayoutAlign="space-between center" class="heaad">
    <img src="../assets/images/placeholder.png">
    <img src="../assets/images/placeholder.png">
    <img src="../assets/images/placeholder.png">
    <img src="../assets/images/placeholder.png">
    <img src="../assets/images/placeholder.png">
  </div>
  <hr width="80%">
  <p Align="center">Soccer sometimes soft sapien. But the laughter. Phasellus lacinia, magna ullaco riper laoreet
    lectus.</p>
</div>
<div fxLayout='column' fxLayoutAlign="space-evenly center" class="black">
  <div class="bird">
    <div class="bird2">
      <i class="fa fa-twitter" style="font-size:38px;color:#87BD94"></i></div>
  </div>
  <p Align="center">@someone upright of freedom and laughter enforcement invest r targeted.</p>

</div>
<div Align="center" fxLayout='column' fxLayoutAlign="center center" class="contact">
  <h2>Contact Us</h2>
  <div fxLayout='row wrap' fxLayoutAlign="space-evenly center" class="input1">
    <input type="text" placeholder="Name">
    <input type="email" placeholder="Email">
  </div>
  <div class="messa">
    <textarea placeholder="Message"></textarea>
  </div>
  <div class="send" Align="center">
    <button mat-button class="sendbut">
      Send Message
    </button>
  </div>

</div>
<div fxLayout='column' fxLayoutAlign="space-around center"  class="last">
  <h1>praese dapib</h1>
  <hr width="80%" color="gray">
  <div fxLayout="row wrap" fxLayoutAlign="space-around center" class="foot">
    <div class="ball">
      <p>great basketball</p>
      <p>protein present</p>
      <p>layer port</p>
      <p>lentesque hate</p>
    </div>

    <div class="ball">
      <p>great basketball</p>
      <p>protein present</p>
      <p>layer port</p>
      <p>lentesque hate</p>
    </div>
    <div class="ball">
      <p>great basketball</p>
      <p>protein present</p>
      <p>layer port</p>
      <p>lentesque hate</p>
    </div>
    <div class="ball">
      <p>great basketball</p>
      <p>protein present</p>
      <p>layer port</p>
      <p>lentesque hate</p>
    </div>
    <div class="ball">
      <p>great basketball</p>
      <p>protein present</p>
      <p>layer port</p>
      <p>lentesque hate</p>
    </div>


  </div>
  <hr width="80%" color="grey">
  <div fxLayout='row' fxLayoutAlign="space-around center" class="face">
    <i class="fa fa-facebook" style="font-size:20px;color:rgba(37, 34, 34, 0.76)"></i>
    <div class="twit">
      <i class="fa fa-twitter" style="font-size:20px;color:rgba(37, 34, 34, 0.76)"></i></div>
    <i class="fa fa-linkedin" style="font-size:20px;color:rgba(37, 34, 34, 0.76)"></i>
  </div>
  <hr width="80%" color="grey">
  <div class="end">
    <p>© Untitled. All Rights Reserved</p>
  </div>
</div>

<router-outlet></router-outlet>