<mat-toolbar class="toolbar" fxLayout="row wrap" fxLayoutAlign="space-around center">
  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
    <div class="conc" fxFlex="44" fxLayout="row" fxLayoutAlign="start center">
      <a>concentric</a>
    </div>
    <div class="nav" fxFlex="56" fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-button class="home1">home</button>
      <button mat-button>dropdown</button>
      <button mat-button>right Sidebar</button>
      <button mat-button>left Sidebar</button>
      <button mat-button>two Sidebar</button>
      <button mat-button>no Sidebar</button>

    </div>
  </div>
</mat-toolbar>
<div class="banner">

  <div class="content" fxLayout="column" fxLayoutAlign="space-evenly center">

    <h2>
      But the big time
    </h2>

    <p> Now targeted miin anteivamus photography lorem ipsum pain. </p>

    <button mat-button class="lear"> Learn More </button>

  </div>

</div>
<div class="middle">
  <div class="very" fxLayout="column" fxLayoutAlign="center center">
    <h2>
      Very eu lorem
    </h2>
    <p>Soccer sometimes soft sapien. But the laughter. Phasellus lacinia, a loud crash from ullaco riper nisl lacus,
    </p>
    <p>suscipit bibendum lectus arcu, vitae facilisis libero the project, from the pure. But even stress. Magna pede gas
    </p>
    <p>customer.</p>
  </div>
</div>
<div class="green">
  <div class="third" fxLayout-wrap="row" fxLayoutAlign="space-evenly center">
    <div class="flag" fxLayout="column" fxLayoutAlign="center center">
      <div class="bord1">
        <i class="fa fa-flag" style="font-size:40px;color:#87BD94"></i></div>
      <!-- <span class="icon fa-flag"></span> -->
      <h2>Lorem Ipsum</h2>
      <p>present dapibus,neque id</p>
      <p>cursus faucibus,tortor neque</p>
      <p>egestas augue vulputate</p>
    </div>
    <div class="person" fxLayout="column" fxLayoutAlign="center center">
      <div class="bord1">
        <i class="fa fa-user" style="font-size:40px;color:#87BD94"></i></div>
      <!-- <span class="icon-person"></span> -->
      <h2>Some tincidu</h2>
      <p>present dapibus,neque id</p>
      <p>cursus faucibus,tortor neque</p>
      <p>egestas augue vulputate</p>
    </div>
    <div class="file" fxLayout="column" fxLayoutAlign="center center">
      <div class="bord1">
        <i class="fa fa-inbox" style="font-size:40px;color:#87BD94"></i></div>
      <!-- <span class="icon-file"></span> -->
      <h2>felis</h2>
      <p>present dapibus,neque id</p>
      <p>cursus faucibus,tortor neque</p>
      <p>egestas augue vulputate</p>
    </div>
    <div class="football" fxLayout="column" fxLayoutAlign="center center">
      <div class="bord1">
        <i class="fa fa-road" style="font-size:40px;color:#87BD94"></i></div>
      <!-- <span class="icon-foot"></span> -->
      <h2>tomorrow football</h2>
      <p>present dapibus,neque id</p>
      <p>cursus faucibus,tortor neque</p>
      <p>egestas augue vulputate</p>
    </div>
  </div>
  <br>
  <div class="tag1" fxLayout-wrap="row" fxLayoutAlign="space-evenly center">
    <div class="tag" fxLayout="column" fxLayoutAlign="center center">
      <div class="bord1">
        <i class="fa fa-tag" style="font-size:40px;color:#87BD94"></i></div>
      <!-- <span class="icon-tag"></span> -->
      <h2>Lorem Ipsum</h2>
      <p>present dapibus,neque id</p>
      <p>cursus faucibus,tortor neque</p>
      <p>egestas augue vulputate</p>
    </div>
    <div class="cloud" fxLayout="column" fxLayoutAlign="center center">
      <div class="bord1">
        <i class="fa fa-cloud" style="font-size:40px;color:#87BD94"></i></div>
      <!-- <span class="icon-cloud"></span> -->
      <h2>Lorem Ipsum</h2>
      <p>present dapibus,neque id</p>
      <p>cursus faucibus,tortor neque</p>
      <p>egestas augue vulputate</p>
    </div>
    <div class="bell" fxLayout="column" fxLayoutAlign="center center">
      <div class="bord1">
        <i class="fa fa-bell" style="font-size:40px;color:#87BD94"></i></div>
      <span class="icon-bell"></span>
      <h2>Lorem Ipsum</h2>
      <p>present dapibus,neque id</p>
      <p>cursus faucibus,tortor neque</p>
      <p>egestas augue vulputate</p>
    </div>
    <div class="horn" fxLayout="column" fxLayoutAlign="center center">
      <div class="bord1">
        <i class="fa fa-bullhorn" style="font-size:40px;color:#87BD94"></i></div>
      <!-- <span class="icon-horn"></span> -->
      <h2>Lorem Ipsum</h2>
      <p>present dapibus,neque id</p>
      <p>cursus faucibus,tortor neque</p>
      <p>egestas augue vulputate</p>
    </div>
  </div>
  <div class="excel" fxLayout='row' fxLayoutAlign="center center">
    <button mat-button class="exce">But an excellent opportunity to have some</button>
  </div>
</div>
<div class="graay" fxLayout='column' fxLayoutAlign="space-evenly center">
  <h1>Jonece any pain Duiar</h1>
  <hr width="80%">
  <div class="heaad" fxLayout-wrap='row' fxLayoutAlign="space-between center">
    <img src="../assets/images/placeholder.png">
    <img src="../assets/images/placeholder.png">
    <img src="../assets/images/placeholder.png">
    <img src="../assets/images/placeholder.png">
    <img src="../assets/images/placeholder.png">
  </div>
  <hr width="80%">
  <p>Soccer sometimes soft sapien. But the laughter. Phasellus lacinia, magna ullaco riper laoreet lectus.</p>
</div>
<div class="black" fxLayout='column' fxLayoutAlign="space-evenly center">
  <div class="bird">
    <div class="bird2">
    <i class="fa fa-twitter" style="font-size:38px;color:#87BD94"></i></div></div>
  <p>@someone upright of freedom and laughter enforcement invest r targeted.</p>

</div>
<div class="contact" fxLayout='column' fxLayoutAlign="center center">
  <h2>Contact Us</h2>
  <div class="input1" fxLayout='row' fxLayoutAlign="space-evenly center">
    <input type="text" placeholder="Name">
    <input type="email" placeholder="Email">
  </div>
  <div class="messa">
    <input type="text" placeholder="Message" width="800px" height="185px">
  </div>
  <div class="send">
    <button mat-button class="sendbut">
      Send Message
    </button>
  </div>

</div>
<div class="last" fxLayout='column' fxLayoutAlign="space-around center">
  <h1>praese dapib</h1>
  <hr width="80%" color="gray">
  <div class="foot" fxLayout="row" fxLayoutAlign="space-around center">
    <div class="ball">
      <p>great basketball</p>
      <p>protein present</p>
      <p>layer port</p>
      <p>lentesque hate</p>
    </div>

    <div class="ball">
      <p>great basketball</p>
      <p>protein present</p>
      <p>layer port</p>
      <p>lentesque hate</p>
    </div>
    <div class="ball">
      <p>great basketball</p>
      <p>protein present</p>
      <p>layer port</p>
      <p>lentesque hate</p>
    </div>
    <div class="ball">
      <p>great basketball</p>
      <p>protein present</p>
      <p>layer port</p>
      <p>lentesque hate</p>
    </div>
    <div class="ball">
      <p>great basketball</p>
      <p>protein present</p>
      <p>layer port</p>
      <p>lentesque hate</p>
    </div>


  </div>
  <hr width="80%" color="grey">
  <div class="face" fxLayout='row' fxLayoutAlign="space-around center">
    <i class="fa fa-facebook" style="font-size:20px;color:rgba(37, 34, 34, 0.76)"></i>
    <div class="twit">
      <i class="fa fa-twitter" style="font-size:20px;color:rgba(37, 34, 34, 0.76)"></i></div>
    <i class="fa fa-linkedin" style="font-size:20px;color:rgba(37, 34, 34, 0.76)"></i>
  </div>
  <hr width="80%" color="grey">
  <div class="end">
    <p>© Untitled. All Rights Reserved</p>
  </div>
</div>

<router-outlet></router-outlet>