mat-toolbar{
    background-color: rgba(0, 0, 0, 0.801);
    color:white;
}

.conc{
    margin-left: 20px;
    font-size: 1.520625em;
    font-family: sans-serif; 
    
}
.home1{
    color:white;
    background-color: #87BD94;
    border-radius: 4px;
}
.home2:hover{
    background-color: #87BD94;
}

.nav{
    margin:30px;
    color:rgba(236, 227, 227, 0.781);
    font-family: roboto,sans-serif;

}
.banner{
    background-image: url("../assets/bridge.jpg");
    height: 100vh; 
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    
    padding-top: 100px;
    font-family: 'Dancing Script', cursive;
    color: white;

}
.content h2{
    font-weight: normal;
    font-size: 3.5em;
    font-style: inherit;
    vertical-align: inherit;

}
.content p{
    margin-top: 0px;
    font-size: 2em;

    
}
.lear{
    border:3px solid white;
    font-size: 1.2em;
    font-weight: 300;
    padding: 8px 25px;
}
.lear:hover{
    background-color: white;
    color:#87BD94 ;
}
@media only screen and (max-width:600px){
    .lear{
        font-size: 0.8em;
        font-weight: 200;
        padding: 5px 14px;
    }
    .content p{
        font-size: 1.4em;
    }
    .content h2{
        font-size: 2.5em;
    }

}
.middle{
    background-color: #87BD94;
    width:100%;
    height: 322px;
    font-family: 'Thasadith', sans-serif;
    color: white;
    padding-top: 30px;
}
.middle h2{
    font-size: 2.8em;
    font-weight: normal;
}
.middle p{
    margin-top: 0;
font-size: 1.6em;

}
@media only screen and (max-width:600px){
    .middle h2{
        font-size: 2em;
    }
    .middle p{
        font-size: 1em;
    }
}
@media only screen and (min-width:600px){
    .middle h2{
        font-size: 2.3em;
    }
    .middle p{
        font-size: 1.3em;
    }
}
@media only screen and (min-width:768px){
    .middle h2{
        font-size: 2.4em;
    }
    .middle p{
        font-size: 1.4em;
    }
}
@media only screen and (min-width:992px){
    .middle h2{
        font-size: 2.5em;
    }
    .middle p{
        font-size: 1.5em;
    }
}
.green{
    /* background-color: white; */
    /* width:100%; */
    /* height: 1050px; */
    font-family: 'Thasadith', sans-serif;
    margin-top: 50px;
    padding-top: 30px;
    background-image: url("https://images.pexels.com/photos/1484759/pexels-photo-1484759.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    height: 150vh; 
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.third{
    margin-bottom: 20px;
    height:auto;
}

.bord1{
    border-radius: 50%;
    border: 1px solid lightgray;
    padding: 7px;
    /* margin-bottom: 40px; */

}
.green i{
    border-radius: 50%;
    border: 1px solid lightgray;
    padding: 25px;
}

.third p{
    font-size: 1.2em;
    color: grey;
    margin: 4px;

}
.third h2{
    margin-bottom: 30px;
}
.tag1{
    margin-bottom: 40px;
}

.tag1 p{
    font-size: 1.2em;
    color:grey;
    margin:4px
}
.tag1 h2{
    margin-bottom: 30px;
}
.exce{
    margin-top:auto;
    border: 3px solid rgb(233, 226, 226);
    font-size:  1.5625em;
    padding: 10px;
    
}
.exce:hover{
    background-color: black;
    color:white;
    border:1px solid black;
}
@media only screen and (max-width:600px){
.bord1{
    font-size: 1.5625em;
    padding:4px;
    margin: 20px 0 20px 0;
}
.green i{
    padding:10px;
}
.green p{
    font-size: 0.6em;
    margin:2px;
}
.green h2{
    font-size: 1em;
    margin-bottom: 20px;
}
.tag1{
    margin-bottom: 30px;
}
.exce{
    border:1px solid rgb(233, 226, 226);
    font-size: 1em;
    padding: 7px;
}

}
@media only screen and (min-width:600px){
    .bord1{
        font-size: 1.875em;
        padding:5px;
        margin: 10px 0 10px 0;
    }
    .green{
        margin:10px 0 10px 0;
    }
    .green i{
        padding:15px;
    }
    .green p{
        font-size: 0.8em;
        margin:3px;
    }
    .green h2{
        font-size: 1.2em;
        margin:10px 0 10px 0;
    }
    .tag1{
        margin-bottom: 10px;
    }
    .exce{
        border:1px solid rgb(233, 226, 226);
        font-size: 1.25em;
        padding: 8px;
    }   
}
@media only screen and (min-width:768px){
    .bord1{
        font-size: 2.1875em;
        padding:6px;
        margin: 0 0 10px 0;
    }
    .green{
        margin:0 0 10px 0;
    }
    .green i{
        padding:20px;
    }
    .green p{
        font-size: 1em;
        margin:4px;
    }
    .green h2{
        font-size: 1.4em;
        margin-bottom: 10px;
    }
    .tag1{
        margin-bottom: 10px;
    }
    .exce{
        border:1.5px solid rgb(233, 226, 226);
        font-size: 1.25em;
        padding: 8px;
    }
}
@media only screen and (min-width:992px){
    .bord1{
        font-size: 2.375em;
        padding:6px;
        margin: 0 0 20px 0;
    }
    .green{
        margin: 0 0 15px 0;
    }
    .green i{
        padding:23px;
    }
    .green p{
        font-size: 1em;
        margin:4px;
    }
    .green h2{
        font-size: 1.4em;
        margin-bottom: 20px;
    }
    .tag1{
        margin-bottom: 25px;
    }
    .exce{
        border:2px solid rgb(233, 226, 226);
        font-size: 1.4375em;
        padding: 9px;        
   }
}
@media only screen and (min-width:1200px){
    .bord1{
        font-size: 2.5em;
        padding:7px;
        margin: 0 0 40px 0;
    }
    .green i{
        padding:25px;
    }
    .green p{
        font-size: 1.2em;
        margin:4px;
    }
    .green h2{
        font-size: 1.6em;
        margin-bottom: 30px;
    }
    .tag1{
        margin-bottom: 40px;
    }
    .exce{
        border:3px solid rgb(233, 226, 226);
        font-size: 1.5625em;
        padding: 10px;
        margin-top: 70px
    }
}
.graay{
    background-color: #f2f1f1;
    width:100%;
    height: 550px;
    font-family: 'Thasadith', sans-serif;
    padding-top: 30px;
}
.graay hr{
    color: black;
}
.heaad img{
    border-radius: 50%;
    background-color: #87BD94;
    margin-right: 25px; 
}
.graay h1{
    font-size: 2.5em;   
}
.graay p{
    font-size: 1.5em;
}
@media only screen and (max-width:600px){
    .heaad img{
    width: 100px;
    height: 100px;
    margin:5px 5px 5px 5px;
    }
    .graay h1{
        font-size: 2em;
    }
    .graay p{
        font-size: 1em;
    }
   
}
@media only screen and (min-width:600px){
    .heaad img{
    width: 100px;
    height: 100px;
    margin:5px 5px 5px 5px;
    }
    .graay h1{
        font-size: 2em;
    }
    .graay p{
        font-size: 1em;
    }
}
@media only screen and (min-width:768px){
    .heaad img{
    width: 120px;
    height: 120px;
    margin:10px 5px 10px 5px;
    }
    .graay h1{
        font-size: 2em;
    }
    .graay p{
        font-size: 1em;
    }
}
@media only screen and (min-width:992px){
    .heaad img{
    width: 140px;
    height: 140px;
    margin:15px 5px 15px 5px;
    }
    .graay h1{
        font-size: 2.2em;
    }
    .graay p{
        font-size: 1.2em;
    }
}
@media only screen and (min-width:1200px){
    .heaad img{
    width: 150px;
    height: 150px;
    margin:5px 25px 5px 5px;
    }
    .graay h1{
        font-size: 2.5em;
    }
    .graay p{
        font-size: 1.5em;
    }
}
.black{
    /* background-color: rgba(37, 34, 34, 0.76); */
    /* width:100%; */
    /* height: 453px; */
    font-family: 'Thasadith', sans-serif;
    color: white;
    background-image: url("https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    height: 100%; 
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.bird{
    margin-top: 60px;
    border-radius: 50%;
    border:1px solid grey;
    padding:7px;
    margin-bottom: 0px;

}
.bird2{
    border-radius: 50%;
    border:1px solid grey;
    padding:25px;

}
.black p{
    margin-top: 0px;
    font-size: 1.8em;
}
@media only screen and (max-width:600px){
    .black p{
        font-size: 1.4em;
    }
    .bird2{
        padding: 20px;
    }
    .bird{
        padding:5px;
    }
}
.contact{
    background-color: white;
    width:100%;
    height: 583px;
    font-family: 'Thasadith', sans-serif;
}
.contact h2{
    font-size: 2.5em;
    /* padding-top: 50px; */  
}
@media only screen and (max-width:600px){
    .contact h2{
        font-size:2em;
    }
}

.input1 input{
    border:none;
    border-radius: 4px;
    padding:20px;
    background-color: #f2f1f1;
    margin:20px 10px 0 10px;
    width: 410px;
     
   
}
.messa textarea{
    border:none;
    border-radius: 4px;
    padding:20px;
    background-color: #f2f1f1;

    width: 895px;  
    height: 200px; 
    margin: 20px 10px 0 10px;   

}




@media only screen and (max-width:600px){
    .input1 input{
       width:100%;
    
    }
    .messa textarea{
        width:385px;
        height: 80px;
    }
}
@media only screen and (min-width:600px){
    .input1 input{
        width:222px;
     
     }
     .messa textarea{
         width:497px;
         height: 100px;
     }   

}
@media only screen and (min-width:768px){
    .input1 input{
        width:296px;
     
     }
     .messa textarea{
         width:671px;
         height: 150px;
     }
}
@media only screen and (min-width:992px){
    .input1 input{
        width:410px;
     
     }
     .messa textarea{
         width:895px;
         height: 200px;
     }
}

.send{
    margin-top: 10px;
}
.sendbut{
    border:1.5px solid lightgray;
    font-size: 1.5em;
    border-radius: 4px;
    margin-bottom: 20px;
}
.sendbut:hover{
    background-color: black;
    color: white;
    border: 1px solid black;
}
@media only screen and (max-width:600px){
    .send{
        width:100px;
        font-size:0.8em;
    }
}
.last{
    /* background-color: rgba(37, 34, 34, 0.856); */
    /* width:100%; */
    /* height: 753px; */
    font-family: 'Thasadith', sans-serif;
    color: white;
    padding-top: 30px;   
    background-image: url("https://images.pexels.com/photos/1308624/pexels-photo-1308624.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    height: 100%; 
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.last h1{
    color: #87BD94;
    font-size: 2.5em;
}
.ball{
    margin-right: 70px;
    font-size: 1.2em;
    color: lightgrey;
    
}
.ball p:hover{
    text-decoration: underline;
}

.face i{
    border-radius: 50%;
    background-color: #87BD94;
    margin-right: 20px;
    padding:12px;
}
.end{
    font-size: 1.2em;
    color:lightgrey;
}
@media only screen and (max-width:600px){
    .last h1{
        font-size: 2em;
    }
    .ball{
        margin: 5px 10px 5px 0;
    }
    .ball p{
        font-size: 1em;
    }
}
@media only screen and (min-width:600px){
    .last h1{
        font-size: 2em;
    }
    .ball{
        margin: 5px 10px 5px 0;
    }
    .ball p{
        font-size: 1em;
    }
}
@media only screen and (min-width:768px){
    .last h1{
        font-size: 2.2em;
    }
    .ball{
        margin: 5px 15px 15px 0;
    }
    .ball p{
        font-size: 1.2em;
    }
}
@media only screen and (min-width:992px){
    .last h1{
        font-size: 2.5em;
    }
    .ball{
        margin: 5px 30px 25px 0;
    }
    .ball p{
        font-size: 1.2em;
    }
}
